  <div class="page_header">
    <a href="/pair">
      <img src="/user.png" alt="Daily Users" />
    </a>
    <h1>Find Me a Pair Pal!</h1>
    <p class="lead">
      #DLTB: doesn't look too bad...
      <div>
        <form action="/adduser" method="post">
          <fieldset>
            <input type="text" name="first_name"
              id="first-name-input" maxlength="50" placeholder="first name" required />
            <input type="text" name="last_name"
              id="last-name-input" maxlength="50"  placeholder="last name" required />
            <select name="project_preference">
              <option value="daily">Daily Challenge</option>
              <option value="evening">Evening Challenge</option>
              <option value="other">Other</option>
            </select>
            <input class="btn btn-lg btn-default" type="submit" value="Add" />
          </fieldset>
        </form>
      </div>
    </p>
  </div>

<div id="buffer"></div>

<% unless daily_users.count == 0 %>
  <%= erb :_daily_users %>
<% end %>

<% unless pairings.count == 0 %>
  <%= erb :_pairings %>
<% end %>
