body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url("/silly_smr15_copy.jpg") #1C2225 fixed;
  background-size: cover;
}
#buffer {
  width: 100%;
  height: 200px;
  background: none;
}
#header {
  font-size: 18px;
  text-align: center;
  height: 667px;
  color: #fff;
}
#header_content {
  background: #1C2225;
  padding: 20px;
  width: 100%;
  position: fixed;
}
#header_content span {
  font-size: 3em;
}
.page_header {
  padding: 50px 50px 50px 50px;
  color: #FFF;
  background: #ed197b;
  text-align: center;
}
.image_header span {
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
.section_containers {
  background: #fff;
  padding: 100px;
  padding: 50px 50px 50px 50px;
}
.section-body {
  margin-bottom: 115px;
  padding-top: 115px;
}
.daily_users {
  float: left;
  padding: 30px;
  text-align: center;
  width: 175px;
}
.clear-pairings {
  width: 100%;
  height: 25px;
}
.white {
  color: #fff;
}
a {
  text-decoration: none;
  color: rgb(203, 222, 230);
  font-weight: bold;
  font-size: 1.3em;
}
a:hover {
  color: #000;
}
h1{
  color: #FFF;
}
#daily-users-header {
  color: #CBDEE6;
  margin-bottom: 80px;
  text-align: center;
}
.clear {
  clear: both;
  margin-bottom: 100px;
}
.center {
  text-align: center;
}
.default-launcher-pic {
  border: 3px solid #CBDEE6;
}
.clear-clearings {
  opacity: 0;
  height: 20px;
}
